openapi: 3.0.0
info:
  title: Unqueue API
  description: Complete reference documentation for the Unqueue API.
  version: "1"
servers:
  - url: https://us-central1-pickup-things.cloudfunctions.net/api/v1
    description: Main (production) server
  - url: https://us-central1-unqueue-staging.cloudfunctions.net/api/v1
    description: Internal staging server for testing
  - url: http://localhost:5001/unqueue-staging/us-central1/api/v1
    description: Local testing
security:
  - bearerAuth: []

paths:
  /orders/{orderId}:
    get:
      summary: Get a single order
      tags:
        - Orders
      parameters:
        - name: orderId
          in: path
          description: ID of the order to return
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Order"
        "403":
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    format: int64
                    example: "You don't have access to view this order"
        "404":
          description: Missing order response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    format: int64
                    example: "order not found"
    patch:
      summary: Update an order
      tags:
        - Orders
      requestBody:
        description: Optional description in *Markdown*
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Order"
      parameters:
        - name: orderId
          in: path
          description: ID of the order to return
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: int64
                    example: "abc1234"
  /orders:
    get:
      summary: Gets all orders
      tags:
        - Orders
      parameters:
        - name: getTop
          in: query
          description: Specify how many orders to return
          required: false
          schema:
            type: number
        - name: completed
          in: query
          description: Used to return completed orders only
          required: false
          schema:
            type: boolean
      responses:
        "200":
          description: Success response
        "401":
          description: Unauthorized request
  /dispatch/delivery-fee:
    get:
      summary: Gets the delivery fee between locations
      tags:
        - Dispatch
      parameters:
        - name: origin
          in: query
          description: The origin location coordinates
          required: true
          schema:
            type: object
            properties:
              latitude:
                type: number
                example: 10.684133
              longitude:
                type: number
                example: -61.524929
        - name: destination
          in: query
          description: The destination location coordinates
          required: true
          schema:
            type: object
            properties:
              latitude:
                type: number
                example: 10.684133
              longitude:
                type: number
                example: -61.524929
      responses:
        "200":
          description: Success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  deliveryFee:
                    type: number
                    format: int64
                    example: 25
                  shopperDeliveryFee:
                    type: number
                    format: int64
                    example: 25
                  pricingModel:
                    type: string
                    format: int64
                    example: "default"
        "404":
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    format: int64
                    example: "A delivery fee could not be generated for these locations."
        "500":
          description: Error response
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Order:
      type: object
      properties:
        id:
          type: string
          example: "12345"
        name:
          type: string
          example: Arthur Dent
        accepted:
          type: boolean
          example: true
        cancelled:
          type: boolean
          example: false
        carDetails:
          type: string
          example: "Red Mazda 3"
        cashAmount:
          type: number
          example: 24
        completed:
          type: boolean
          example: false
        completedAt:
          type: string
        count:
          type: number
          example: 24
        createdAt:
          type: string
        customerEmail:
          type: string
        customerLicense:
          type: string
        customerPhone:
          type: string
        deliveryAddress:
          type: string
        deliveryFee:
          type: number
          example: 24
        deliveryWindow:
          type: string
        driverArrived:
          type: boolean
          example: false
        driverArrivedAt:
          type: string
        driverEnRoute:
          type: boolean
        missingItemsPreference:
          type: string
        orderNumber:
          type: string
        owner:
          type: string
        ownerId:
          type: string
        packed:
          type: boolean
        packedAt:
          type: string
        paymentMethod:
          type: string
        pickupTimeDate:
          type: string
        refunded:
          type: boolean
        source:
          type: string
        specialNotes:
          type: string
        storeAddress:
          type: object
        storeHours:
          type: object
        storeId:
          type: string
        storeLogo:
          type: string
        storePhone:
          type: string
        timeWindow:
          type: string
        total:
          type: number
        tripId:
          type: string
        tripOrder:
          type: number
        type:
          type: string
          example: "Delivery"
        unavailableItems:
          type: boolean
      # Both properties are required
      required:
        - id
        - name
